/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Poppins", sans-serif;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        perspective: 1000px;
    }

    .container {
        width: 56%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform-style: preserve-3d;
        width: 80%;
        height: 80vh;
        border-radius: 5%;
        padding: 1em 0;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    }

    img {
        max-width: 18vw;
        max-height: 40vh;
        transition: all 0.75s ease-out;
        margin-bottom: 2em;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .info h1 {
        font-size: 1.8vw;
        transition: all 0.75s ease-out;
    }

    .info h3 {
        font-size: 1.3vw;
        padding: 1.4em 0;
        color: #585858;
        font-weight: lighter;
        transition: all 0.75s ease-out;
    }
    
    .colors {
        display: flex;
        justify-content: space-between;
        transition: all 0.75s ease-out;
    }

    .colors button {
        padding: .8em 2em;
        margin: 2em 2em;
        background: none;
        border: none;
        outline: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        cursor: pointer;
        font-weight: bold;
        color: #585858;
        font-size: .1em;
        transition: all 0.75s ease-out;
    }

    .colors button:hover {
        background-color: #585858;;
        color: white;
    }

    button.goldActive {
        background-color: khaki;
        color: white;
    }

    button.goldActive:hover {
        background-color: khaki;
        color: white;
    }
    
    button.silverActive {
        background-color: rgb(165, 165, 165);
        color: white;
    }

    button.silverActive:hover {
        background-color: rgb(165, 165, 165);
        color: white;
    }
    
    button.blackActive {
        background-color: black;
        color: white;
    }

    button.blackActive:hover {
        background-color: black;
        color: white;
    }

    button.pinkActive {
        background-color: rgb(253, 205, 213);
        color: white;
    }

    button.pinkActive:hover {
        background-color: rgb(253, 205, 213);
        color: white;
    }
    
    .purchase {
        margin: 0.8em auto;
        transition: all 0.75s ease-out;
        width: max-content;
        padding: .6em 2em;
        background-color: khaki;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        border-radius: 30px;
        font-weight: bolder;
        font-size: .4em;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .mark {
        margin-top: 8em;
        font-size: .1em;
        color: #585858;
        font-weight: lighter;
    }

    .mark a, i {
        color: khaki;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .card {
        padding: 2em 0;
    }

    .colors button {
        font-size: .4em;
    }

    .purchase {
        
        font-size: .8em;
    }

    .mark {
        margin-top: 2em;
        font-size: .8em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .info h1 {
        font-size: 2.4vw;
    }

    .info h3 {
        padding: 1em 0;
        font-size: 1.4vw;
    }

    .colors button {
        font-size: .6em;
        margin: 1em 2em;
    }

    .purchase {
        font-size: 1em;
    }
    
    .mark {
        font-size: 1em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        padding: 0 34em;
    }

    .card {
        padding: 4em 4em;
        flex-direction: row;
        width: max-content;
    }

    img {
        margin-right: 4em;
    }

    .info h1 {
        font-size: 2.8vw;
    }

    .info h3 {
        padding: 1em 0;
        font-size: 1.8vw;
    }

    .colors button {
        font-size: 1em;
        margin: 1em 1em;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }

    .purchase {
        margin-top: 1.4em;
        font-size: 1.4em;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }

    .mark {
        font-size: 1.4em;
    }
}